<button class="ml-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" [routerLink]="['']">Voltar</button>

<div class="flex mt-2">
  <mat-card class="example-card post mr-2 ml-2">
    <ngx-slick-carousel class="slick" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let image of vehicle?.images">
        <img class="object-cover" [src]="'http://localhost:8000'+image.url" width="100%">
      </div>
    </ngx-slick-carousel>
  </mat-card>
  <div class="flex-row">
    <h5>{{vehicle?.brand?.brand}} {{vehicle?.model}}</h5>
    <h5>Preço: R$ {{vehicle?.price}} </h5>
    <h5>Ano: {{vehicle?.year}}</h5>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Contato</button>
  </div>
</div>