<div class="h-full box-border">
  <div class="z-10 teste w-4/5 h-fit bg-white m-auto ">
    <app-header class=""></app-header>
  </div>
  <div class="m-auto pt-2">

    <div *ngIf="!loading; else load" class="flex justify-center">
      <mat-card class="example-card post mr-2 ml-2 ">
        <ngx-slick-carousel class="slick" #slickModal="slick-carousel" [config]="slideConfig">
          <div ngxSlickItem *ngFor="let image of vehicle?.images">
            <img class="object-cover" [src]="'http://localhost:8000'+image.url" width="100%">
          </div>
        </ngx-slick-carousel>
      </mat-card>
      <div class="w-96">
        <mat-card class="example-card w-full mr-2 ml-2 p-2">
          <h5 class="italic font-semibold">Modelo</h5>
          <h5>{{vehicle?.brand?.brand}} {{vehicle?.model}}</h5>
          <h5>Ano: {{vehicle?.year}}</h5>

          <div class="mt-2" *ngIf="vehicle?.description">
            <h5 class="italic font-semibold">Descrição</h5>
            <p>{{vehicle?.description}}</p>
          </div>

          <div class="mt-2" *ngIf="vehicle?.optional && vehicle?.optional.length">
            <h5 class="italic font-semibold">Opcionais</h5>
            <div *ngFor="let options of vehicle.optional">
              <li>{{options.name}}</li>
            </div>
          </div>

          <div class="mt-2 bg-slate-300 fit rounded-sm p-1 w-fit my-1">
            <h5 class="font-semibold text-xl">{{vehicle?.price | priceFormat}} </h5>
          </div>
        </mat-card>
        <mat-card class="example-card w-full mr-2 ml-2 p-2 mt-2">
          <h5 class="italic font-semibold">Contatos</h5>
          <div *ngFor="let contact of contacts">
            <li class="flex items-center mb-1">
              <span>{{contact.name}} - </span>
              <a target="_blank" class="cursor-pointer ml-2 mr-2"
                href="https://wa.me/{{contact.phone}}?text=Olá%20{{contact.name}}">
                {{contact.phone | phoneFormat}}
              </a>
              <img class="w-6" src="../../../assets/icons/whatsapp-icon-seeklogo.com.svg" alt="Icone Whatsapp">
            </li>
          </div>
        </mat-card>
      </div>

    </div>

    <ng-template #load>
      <ngx-spinner bdColor="rgba(0, 0, 0, 0.1)" size="default" type="line-scale" [fullScreen]="true"
        [name]="'primary'"></ngx-spinner>
    </ng-template>
  </div>
</div>
