<div class="pt-44 pb-3 h-full box-border">
  <header class="w-full fixed top-0">
    <img src="../../assets/logo/logo.png" alt="Imagem" class="mx-auto max-w-sm" />
  </header>

  <div class="teste h-full flex flex-col">
    <mat-toolbar color="primary" class="align-middle">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <input *ngIf="showSearch" matInput [formControl]="inputFilter" placeholder="Buscar por marca/categoria/modelo" class="w-60 rounded-md p-1 text-sm font-light">
    </mat-toolbar>
    <mat-sidenav-container class="h-screen" >
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" fixedTopGap="232" closeOnNavigation
        [opened]="isSidenavOpened">
        <mat-nav-list>
          <mat-list>
            <mat-list-item routerLinkActive="active"><a
                class="font" (click)="selectItem()" [routerLink]="['lista']" >Lista de veículos</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLinkActive="active"><a
                class="font" (click)="selectItem()" [routerLink]="['adicionar', 'veiculos']">Cadastro de veículos</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLinkActive="active"><a
                class="font" (click)="selectItem()" [routerLink]="['adicionar', 'marcas']">Cadastro de marcas</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLinkActive="active"><a
                class="font" (click)="selectItem()" [routerLink]="['adicionar', 'categorias']">Cadastro de Categorias</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLinkActive="active"><a
                class="font" (click)="selectItem()" [routerLink]="['adicionar', 'informacoes']">Informações da empresa</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLinkActive="active"><a
                class="cursor-pointer font" (click)="logout('100ms', '150ms')">Sair</a></mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>

        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <main class="w-full rounded-md overflow-auto h-full mt-2">
          <router-outlet></router-outlet>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
