<form [formGroup]="form">
  <!-- veiculos -->
  <div *ngIf="activeRoute == 'veiculo'" class="m-auto flex justify-center pt-4">
    <mat-card class="w-2/4">
      <mat-card-content>

        <mat-form-field class="w-full">
          <mat-label>Modelo</mat-label>
          <input matInput formControlName="model" />
          <mat-error *ngIf="form.get('model').hasError('required')">O modelo é obrigatório</mat-error>
          <mat-error *ngIf="form.get('model').hasError('maxlength')">O modelo deve ter no máximo 30
            caracteres</mat-error>
        </mat-form-field>

        <div class="flex">
          <mat-form-field class="w-2/4 pr-4">
            <mat-label>Marca</mat-label>
            <mat-select formControlName="brand_id">
              <mat-option *ngFor="let brand of brands | async" [value]="brand.id">
                {{ brand.brand }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('brand_id').hasError('required')">A marca é obrigatória</mat-error>
          </mat-form-field>

          <mat-form-field class="w-2/4">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="category_id">
              <mat-option *ngFor="let category of categories | async" [value]="category.id">
                {{ category.category }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('category_id').hasError('required')">A categoria é obrigatória</mat-error>
          </mat-form-field>
        </div>

        <div class="flex">
          <mat-form-field class="w-2/4 pr-4">
            <mat-label>Ano</mat-label>
            <input type="number" matInput formControlName="year" />
            <mat-error *ngIf="form.get('year').hasError('required') && form.get('year').touched">
              O ano é obrigatório
            </mat-error>
            <mat-error
              *ngIf="form.get('year').hasError('anoInvalido') && form.get('year').dirty && !form.get('year').hasError('required')">
              O ano deve estar entre 1950 e {{ currentYear + 1 }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-2/4">
            <mat-label>Valor</mat-label>
            <input matInput formControlName="price" mask="separator.2" thousandSeparator="," />
            <mat-error *ngIf="form.get('price').hasError('required')">O preço é obrigatório</mat-error>
            <mat-error *ngIf="form.get('price').hasError('priceInvalido')">O preço deve estar entre 0 e
              9.999.999,99</mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="w-full">
            <mat-label>Descrição</mat-label>
            <textarea rows="3" matInput formControlName="description" placeholder="Descreva o veículo, por exemplo: 4 portas, preto, motor 1.0" #field></textarea>
            <mat-hint align="end">{{field.value.length}}/150</mat-hint>
            <mat-error *ngIf="form.get('description').hasError('maxlength')">Maximo de 150 caracteres</mat-error>
          </mat-form-field>
        </div>

        <div class="flex">
          <div formArrayName="optional" class="w-full">
            <mat-label>Opcionais</mat-label>
            <div class="row" *ngFor="let optional of form.get('optional').controls; let i = index" [formGroupName]="i">
              <div class="flex">
                <mat-form-field class="w-full pr-3">
                  <mat-label>Opcional</mat-label>
                  <input matInput formControlName="optional" #fieldOptional>
                  <mat-hint align="end">{{fieldOptional.value.length}}/30</mat-hint>
                  <mat-error *ngIf="form.get('optional').controls[i].get('optional').hasError('maxlength')">Maximo de 20
                    caracteres por opcional</mat-error>
                </mat-form-field>

                <div class="w-1/5 flex">
                  <button class="float-left" mat-icon-button color="primary" aria-label="Remove/clear"
                    (click)="removeOrClear(i, 'optional')" matTooltip="Remover">
                    <mat-icon>highlight_off</mat-icon>
                  </button>
                  <button class="float-left" mat-icon-button color="primary" aria-label="Add"
                    (click)="addOptionalFormGroup()" matTooltip="Adicionar">
                    <mat-icon>add_circle_outline</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex">
          <app-file-input (file)="getFiles($event)" [inputFile]="files" (filesToDelete)="getFilesToDelete($event)"></app-file-input>
        </div>

      </mat-card-content>

      <mat-card-actions class="flex justify-center">
        <button  mat-raised-button color="primary" class="mr-4" (click)="save()"
          [disabled]="form.invalid || loadingSave || loadingDelete"> <div class="flex items-center">
            <p class="{{ loadingSave ? ' mr-2' : ''}}">{{ loadingSave ? 'Salvando' : 'Salvar' }}</p>
            <mat-spinner *ngIf="loadingSave" diameter="19"></mat-spinner>
          </div></button>
        
          <button disabled="{{ loadingDelete || loadingSave}}" mat-raised-button color="warn" (click)="openDialog('100ms', '150ms')">
            <div class="flex items-center">
              <p class="{{ loadingDelete ? ' mr-2' : ''}}">{{ loadingDelete ? 'Excluindo' : 'Excluir' }}</p>
              <mat-spinner *ngIf="loadingDelete" diameter="19"></mat-spinner>
            </div>
          </button>
         
      </mat-card-actions>
    </mat-card>
  </div>
  
  <!-- marcas -->
  <div *ngIf="activeRoute == 'marca'" class="m-auto flex justify-center pt-4">
    <mat-card class="w-2/4">
      <mat-card-content>
        <mat-form-field class="w-full">
          <mat-label>Marca</mat-label>
          <input matInput formControlName="brand"  />
          <mat-error *ngIf="form.get('brand').hasError('required')">A marca é obrigatória</mat-error>
          <mat-error *ngIf="form.get('brand').hasError('maxlength')">A marca deve ter no máximo 15 caracteres</mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions class="flex justify-center">
        <button mat-raised-button color="primary" class="mr-4" (click)="save()" [disabled]="form.invalid">Salvar</button>
        <button mat-raised-button color="warn" [routerLink]="['/admin/adicionar/marcas']">Voltar</button>
      </mat-card-actions>
    </mat-card>
  </div>
  
  <!-- categorias -->
  <div *ngIf="activeRoute == 'categoria'" class="m-auto flex justify-center pt-4">
    <mat-card class="w-2/4">
      <mat-card-content>
        <mat-form-field class="w-full">
          <mat-label>Categoria</mat-label>
          <input matInput formControlName="category"  />
          <mat-error *ngIf="form.get('category').hasError('required')">A categoria é obrigatória</mat-error>
          <mat-error *ngIf="form.get('category').hasError('maxlength')">A categoria deve ter no máximo 15 caracteres</mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions class="flex justify-center">
        <button mat-raised-button color="primary" class="mr-4" (click)="save()" [disabled]="form.invalid">Salvar</button>
        <button mat-raised-button color="warn" [routerLink]="['/admin/adicionar/categorias']">Voltar</button>
      </mat-card-actions>
    </mat-card>
  </div>
  
  <!-- informacoes -->
  <div *ngIf="activeRoute == 'informacoes'" class="m-auto flex justify-center pt-4">
    <mat-card class="w-2/4">
      <mat-card-content>
        <mat-form-field class="w-full">
          <mat-label>Contato</mat-label>
          <input matInput formControlName="contact" mask="(00) 000000000"  />
          <mat-error *ngIf="form.get('contact').hasError('required')">O numero de telefone é obrigatório</mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions class="flex justify-center">
        <button mat-raised-button color="primary" class="mr-4" (click)="save()" [disabled]="form.invalid">Salvar</button>
        <button mat-raised-button color="warn">Limpar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</form>