<div class="m-auto flex justify-center pt-20">
  <mat-card class="example-card w-80">
    <form [formGroup]="form">
      <mat-card-content>
        <mat-form-field class="w-full">
          <mat-label>Email</mat-label>
          <input matInput placeholder="email@exemplo.com" required formControlName="email" />
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Senha</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>
    </form>
    <mat-card-actions class="flex justify-center ">
      <button mat-raised-button [routerLink]="['/']" class="mr-4">Voltar</button>
      <button mat-raised-button color="primary" (click)="login()" >Login</button>
    </mat-card-actions>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </mat-card>
</div>
