.my-slider {
    --mdc-slider-handle-height: 15px;
    --mdc-slider-handle-width: 15px;
    --mat-mdc-slider-hover-ripple-color: unset;
    --mat-mdc-slider-focus-ripple-color : unset;
}

.tollbar{
  height: fit-content;
}

