Filtros
<div>
    <p>ano de - ano até</p>
    <mat-slider class="my-slider" min="0" max="500">
        <input value="100" matSliderStartThumb>
        <input value="400" matSliderEndThumb>
    </mat-slider>

</div>

<div>
    <p>valor de - valor até</p>
    <mat-slider class="my-slider" min="0" max="500">
        <input value="50" matSliderStartThumb>
        <input value="300" matSliderEndThumb>
    </mat-slider>
</div>
<div>
    <p>valor de - valor até</p>
    <mat-slider class="my-slider" min="0" max="500">
        <input value="50" matSliderStartThumb>
        <input value="300" matSliderEndThumb>
    </mat-slider>
</div>


