<div class="flex">
  <div class="flex mr-12 items-center text-lg">
    <p class="mr-3 font">Ano</p>
    <div class="flex text-lg items-center">
      <span class="font mr-1">{{yearTo.value}}</span>
      <mat-slider class="my-slider" [min]="minYear" [max]="maxYear">
        <input [value]="minYear" #yearTo matSliderStartThumb (valueChange)="minYearEvent($event)">
        <input [value]="maxYear" #yearFrom matSliderEndThumb (valueChange)="maxYearEvent($event)">
      </mat-slider>
      <span class="font">{{yearFrom.value}}</span>
    </div>
  </div>

  <div class="flex items-center text-lg">
    <p class="mr-3 font">Valor</p>
    <div class="flex text-lg items-center">
      <span class="font mr-1">{{priceFrom.value}}</span>
      <mat-slider class="my-slider" [min]="minPrice" [max]="maxPrice" [step]="1000">
        <input [value]="minPrice" #priceFrom matSliderStartThumb (valueChange)="minPriceEvent($event)">
        <input [value]="maxPrice" #priceTo matSliderEndThumb (valueChange)="maxPriceEvent($event)">
      </mat-slider>
      <span class="font">{{priceTo.value}}</span>
    </div>
  </div>

</div>
