.center {
    text-align: center;
}

.paginator-container {
    position: sticky;
    bottom: 0;
    background-color: white;
    z-index: 1;
    padding: 10px;
}

.mat-table-sticky {
    border-collapse: collapse;
    width: 100%;
}

.mat-table-sticky th,
.mat-table-sticky td {
    padding: 8px;
    text-align: left;
}

th{
  font-family: "TitilliumWeb-Black", sans-serif;
}

td{
  font-family: "TitilliumWeb-regular", sans-serif;
}

.font-b{
  font-family: "TitilliumWeb-semibold", sans-serif;
}

.mat-mdc-paginator-page-size-label, .mat-mdc-paginator-range-label , .mat-mdc-select, .mat-mdc-option, .mat-mdc-select-min-line{
  font-family: "TitilliumWeb-regular", sans-serif !important;
  font-size: 11pt;
}

.edit-label{
  text-align: center !important;
}
