<header class="w-full top-0 p-4 flex items-center justify-between left-0  header m-1">
  <div class="flex items-center">
    <a [routerLink]="['/']"><img src="../../assets/logo/logo.png" alt="Imagem" class="mx-auto image" /></a>
  </div>

  <div class="flex items-center">
    <ul class="flex space-x-4 text-black">
      <li><a [routerLink]="['/']" class="hover:text-gray-500">Home</a></li>
      <li><a [routerLink]="['/contact']" class="hover:text-gray-500">Contato</a></li>
      <li><a class="cursor-pointer" (click)="openLogin()" target="_blank">Admin</a></li>
    </ul>
  </div>
</header>
