.image-size{
    min-width: 200px;
    max-width: 200px;
    min-height: 110px;
    max-height: 110px;
}

.mat-mdc-card-content {
    display: block;
    padding: 0 6px;
}

.mdc-card__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    min-height: 0;
    padding: 0;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 1s infinite;
}
