header {
    // background: #0eff00;
    padding: 9px 0;
}

::-webkit-scrollbar {
    width: 5px;
    overflow-y: scroll;
    background: rgb(255, 255, 255);
    box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
    background: rgb(189, 170, 170);
    border-radius: 10px;
}

.home-view{
    height: 93%;
}

.tollbar{
    height: 40px;
}