@media screen and (max-width: 600px) {
  .header {
    width: 100%;
  }

  .company-name{
    font-size: 60px;
  }

  .title{
    font-size: 30px;
  }

  .info{
    font-size: 25px;
  }
/*
  .city{
    font-size: 30px;
  } */

  /* .city-infos{
    font-size: 25px;
  } */

  /* .phone{
    font-size: 30px;
  } */

  /* .phone-infos{
    font-size: 25px;
  } */
}

