<form [formGroup]="form">
  <!-- veiculos -->
  <div *ngIf="activeRoute == 'veiculos'" class="m-auto flex justify-center pt-4">
    <mat-card class="w-2/4">
      <mat-card-content>

        <mat-form-field class="w-full">
          <mat-label>Modelo</mat-label>
          <input matInput formControlName="model" />
          <mat-error *ngIf="form.get('model').hasError('required')">O modelo é obrigatório</mat-error>
          <mat-error *ngIf="form.get('model').hasError('maxlength')">O modelo deve ter no máximo 30
            caracteres</mat-error>
        </mat-form-field>

        <div class="flex">
          <mat-form-field class="w-2/4 pr-4">
            <mat-label>Marca</mat-label>
            <mat-select formControlName="brand_id">
              <mat-option *ngFor="let brand of brands | async" [value]="brand.id">
                {{ brand.brand }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('brand_id').hasError('required')">A marca é obrigatória</mat-error>
          </mat-form-field>

          <mat-form-field class="w-2/4">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="category_id">
              <mat-option *ngFor="let category of categories | async" [value]="category.id">
                {{ category.category }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('category_id').hasError('required')">A categoria é obrigatória</mat-error>
          </mat-form-field>
        </div>

        <div class="flex">
          <mat-form-field class="w-2/6 pr-4">
            <mat-label>Ano</mat-label>
            <input type="number" matInput formControlName="year" />
            <mat-error *ngIf="form.get('year').hasError('required') && form.get('year').touched">
              O ano é obrigatório
            </mat-error>
            <mat-error
              *ngIf="form.get('year').hasError('anoInvalido') && form.get('year').dirty && !form.get('year').hasError('required')">
              Escolha entre 1950 e {{ currentYear + 1 }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-2/6 pr-4">
            <mat-label>Valor</mat-label>
            <input matInput formControlName="price" mask="separator.2" thousandSeparator="," />
            <mat-error *ngIf="form.get('price').hasError('required')">O preço é obrigatório</mat-error>
            <mat-error *ngIf="form.get('price').hasError('priceInvalid')">Preço máximo 9.999.999,99</mat-error>
          </mat-form-field>

          <mat-form-field class="w-2/6 ">
            <mat-label>Kilometragem</mat-label>
            <input type="number" matInput formControlName="mileage" />
            <mat-error *ngIf="form.get('mileage').hasError('mileageInvalid')">
              Máximo: 999999
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="w-full">
            <mat-label>Descrição</mat-label>
            <textarea rows="3" matInput formControlName="description"
              placeholder="Descreva o veículo, por exemplo: 4 portas, preto, motor 1.0" #field></textarea>
            <mat-hint align="end">{{field.value.length}}/150</mat-hint>
            <mat-error *ngIf="form.get('description').hasError('maxlength')">Maximo de 150 caracteres</mat-error>
          </mat-form-field>
        </div>
        <div class="flex">
          <div formArrayName="optional" class="w-full">
            <mat-label>Opcionais</mat-label>
            <div class="row" *ngFor="let optional of form.get('optional').controls; let i = index" [formGroupName]="i">
              <div class="flex">
                <mat-form-field class="w-full pr-3">
                  <mat-label>Opcional</mat-label>
                  <input matInput formControlName="optional" #fieldOptional>
                  <mat-hint align="end">{{fieldOptional.value.length}}/30</mat-hint>
                  <mat-error *ngIf="form.get('optional').controls[i].get('optional').hasError('maxlength')">Maximo de 20
                    caracteres por opcional</mat-error>
                </mat-form-field>

                <div class="w-1/5 flex">
                  <button class="float-left" mat-icon-button color="primary" aria-label="Remove/clear"
                    (click)="removeOrClear(i, 'optional')" matTooltip="Remover">
                    <mat-icon>highlight_off</mat-icon>
                  </button>
                  <button class="float-left" mat-icon-button color="primary" aria-label="Add"
                    (click)="addOptionalFormGroup()" matTooltip="Adicionar">
                    <mat-icon>add_circle_outline</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex">
          <app-file-input (file)="getFiles($event)"></app-file-input>
        </div>

      </mat-card-content>

      <mat-card-actions class="flex justify-center">
        <button disabled="{{ loading }}" mat-raised-button color="primary" class="mr-4" (click)="save()"
          [disabled]="form.invalid">
          <div class="flex items-center">
            <p class="{{ loading ? ' mr-2' : ''}}">{{ loading ? 'Salvando' : 'Salvar' }}</p>
            <mat-spinner *ngIf="loading" diameter="19"></mat-spinner>
          </div>
        </button>
        <button disabled="{{ loading }}" mat-raised-button color="warn"
          [routerLink]="['/admin/lista']">Cancelar</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <!-- marcas -->
  <div *ngIf="activeRoute == 'marcas'" class="m-auto flex justify-center pt-4">
    <mat-card class="w-2/4">
      <mat-card-content>
        <mat-form-field class="w-full">
          <mat-label>Marca</mat-label>
          <input matInput formControlName="brand" />
          <mat-error *ngIf="form.get('brand').hasError('required')">A marca é obrigatória</mat-error>
          <mat-error *ngIf="form.get('brand').hasError('maxlength')">A marca deve ter no máximo 15
            caracteres</mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions class="flex justify-center">
        <button mat-raised-button color="primary" class="mr-4" (click)="save()"
          [disabled]="form.invalid">Salvar</button>
        <button mat-raised-button color="warn" [routerLink]="['/admin/lista']">Cancelar</button>
      </mat-card-actions>

      <div class="mt-4 p-2">
        <table mat-table [dataSource]="brands" class="mat-elevation-z8">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Marca</th>
            <td mat-cell *matCellDef="let element">{{ element.brand }}</td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef class="center w-48">Editar</th>
            <td mat-cell *matCellDef="let element" class="center">
              <a mat-raised-button color="primary" class="mr-2"
                [routerLink]="['/admin/editar', 'marca', element.id]">Editar</a>
              <button mat-raised-button color="warn" (click)="openDialog('100ms', '150ms', element.id)">Exluir</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-card>
  </div>

  <!-- categorias -->
  <div *ngIf="activeRoute == 'categorias'" class="m-auto flex justify-center pt-4">
    <mat-card class="w-2/4">
      <mat-card-content>
        <mat-form-field class="w-full">
          <mat-label>Categoria</mat-label>
          <input matInput formControlName="category" />
          <mat-error *ngIf="form.get('category').hasError('required')">A categoria é obrigatória</mat-error>
          <mat-error *ngIf="form.get('category').hasError('maxlength')">A categoria deve ter no máximo 15
            caracteres</mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions class="flex justify-center">
        <button mat-raised-button color="primary" class="mr-4" (click)="save()"
          [disabled]="form.invalid">Salvar</button>
        <button mat-raised-button color="warn" [routerLink]="['/admin/lista']">Cancelar</button>
      </mat-card-actions>

      <div class="mt-4 p-2">
        <table mat-table [dataSource]="categories" class="mat-elevation-z8">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Categoria</th>
            <td mat-cell *matCellDef="let element">{{ element.category }}</td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef class="center w-48">Editar</th>
            <td mat-cell *matCellDef="let element" class="center">
              <a mat-raised-button color="primary" class="mr-2"
                [routerLink]="['/admin/editar', 'categoria', element.id]">Editar</a>
              <button mat-raised-button color="warn" (click)="openDialog('100ms', '150ms', element.id)">Exluir</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-card>
  </div>

  <!-- contato -->
  <div *ngIf="activeRoute == 'informacoes'" class="m-auto flex justify-center pt-4">
    <mat-card class="w-2/4">
      <mat-card-content>

        <mat-form-field class="w-full">
          <mat-label>Nome da empresa</mat-label>
          <input matInput formControlName="company_name" />
          <mat-error *ngIf="form.get('company_name').hasError('required')">O nome é obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Cnpj/Cpf</mat-label>
          <input matInput formControlName="cnpj_cpf" mask="CPF_CNPJ" />
        </mat-form-field>

        <div class="w-full">
          <mat-form-field class="w-2/3 pr-3">
            <mat-label>Endereço</mat-label>
            <input matInput formControlName="address" />
            <mat-error *ngIf="form.get('address').hasError('required')">O endereço é obrigatório</mat-error>
          </mat-form-field>
          <mat-form-field class="w-1/3">
            <mat-label>Número</mat-label>
            <input matInput formControlName="address_number" />
            <mat-error *ngIf="form.get('address_number').hasError('required')">O número é obrigatório</mat-error>
          </mat-form-field>
        </div>

        <div class="w-full">
          <mat-form-field class="w-2/3 pr-3">
            <mat-label>Cidade</mat-label>
            <input matInput formControlName="city" />
            <mat-error *ngIf="form.get('city').hasError('required')">A cidade é obrigatória</mat-error>
          </mat-form-field>

          <mat-form-field class="w-1/3">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="state">
              <mat-option *ngFor="let state of states" [value]="state.id">
                {{state.sigla}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div formArrayName="contact">
          <div class="row" *ngFor="let email of form.get('contact').controls; let i = index" [formGroupName]="i">
            <div class="flex">
              <mat-form-field class="w-2/5 pr-3">
                <mat-label>Contato</mat-label>
                <input matInput formControlName="number" mask="(00) 0 0000-0000 || (00) 0000-0000">
                <mat-error *ngIf="form.get('contact').controls[i].get('number').hasError('required')">O numero é
                  obrigatório</mat-error>
              </mat-form-field>

              <mat-form-field class="w-2/5">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="form.get('contact').controls[i].get('name').hasError('required')">O nome é
                  obrigatório</mat-error>
              </mat-form-field>

              <div class="w-1/5 flex">
                <button class="float-left" mat-icon-button color="primary" aria-label="Remove/clear"
                  (click)="removeOrClear(i, 'contact')" matTooltip="Remover">
                  <mat-icon>highlight_off</mat-icon>
                </button>
                <button class="float-left" mat-icon-button color="primary" aria-label="Add"
                  (click)="addContactFormGroup()" matTooltip="Adicionar">
                  <mat-icon>add_circle_outline</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>

        <app-logo-input (logoOutput)="getFiles($event)"></app-logo-input>

      </mat-card-content>

      <mat-card-actions class="flex justify-center">
        <button mat-raised-button color="primary" class="mr-4" (click)="save()"
          [disabled]="form.invalid">Salvar</button>
        <button mat-raised-button color="warn" [routerLink]="['/admin/lista']">Cancelar</button>
      </mat-card-actions>
    </mat-card>
  </div>

</form>