.center{
    text-align: center;
}

mat-form-field, mat-select, mat-option, mat-label{
  font-family: "TitilliumWeb-light", sans-serif;
}

td{
  font-family: "TitilliumWeb-regular", sans-serif;
}

.font-b{
  font-family: "TitilliumWeb-semibold", sans-serif;
}
@media screen and (max-width: 600px) {
  mat-card{
    width: 95%;
  }
}
